<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.Title }}",
  "url": "{{ site.BaseURL }}",
  "description": "{{ site.Params.metadata.description }}",
  "inLanguage": "en-US",
  "publisher": {
    "@type": "Organization",
    "@id": "https://securetechie.com/#organization",
    "name": "Secure Techies, LLC",
    "url": "https://securetechie.com/",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.BaseURL }}images/logo.png"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-818-431-5607",
      "contactType": "customer service",
      "availableLanguage": ["English"],
      "areaServed": "US"
    }
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.BaseURL }}search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
