<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.Title }}",
  "url": "{{ site.BaseURL }}",
  "description": "{{ site.Params.metadata.description }}",
  "publisher": {
    "@type": "Organization",
    "name": "Secure Techies, LLC",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.BaseURL }}images/logo.png"
    }
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.BaseURL }}search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
