{{- if not .IsHome -}}
{{- $home := "" | absURL -}}
{{- $crumbs := slice (dict "@type" "ListItem" "position" 1 "name" "Home" "item" $home) -}}
{{- $pos := 2 -}}
{{- range .Ancestors.Reverse -}}
  {{- if ne .Kind "home" -}}
    {{- $crumbs = $crumbs | append (dict "@type" "ListItem" "position" $pos "name" (.Params.short_name | default .Title) "item" .Permalink) -}}
    {{- $pos = add $pos 1 -}}
  {{- end -}}
{{- end -}}
{{- $crumbs = $crumbs | append (dict "@type" "ListItem" "position" $pos "name" (.Params.short_name | default .Title) "item" .Permalink) -}}
<script type="application/ld+json">{{ (dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $crumbs) | jsonify | safeJS }}</script>
{{- end -}}
