{{- if not .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.BaseURL }}"
    }
    {{- $ancestors := .Ancestors.Reverse -}}
    {{- $pos := 2 -}}
    {{- range $ancestors -}}
    {{- if ne .Kind "home" -}}
    ,{
      "@type": "ListItem",
      "position": {{ $pos }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
    {{- $pos = add $pos 1 -}}
    {{- end -}}
    {{- end -}}
    ,{
      "@type": "ListItem",
      "position": {{ $pos }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{- end -}}
